@import './partials/_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white {
    color: white;
}

nav {

    min-height: $altezza-nav;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: stretch;

    img {
        padding: 5px;
    }

    ul {

        display: flex;
        min-height: 100%;

        li {

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            margin: 0 15px;
            padding: 10px;
            border-bottom: 2px solid transparent;

            a {

                text-decoration: none;
                color: black;

            }
        }

        li:hover {

            border-bottom: 2px solid cyan;

            a {

                color: cyan;

            }

        }
    }
}

.content {

    background-color: black;
    min-height: $altezza-nav;
    display: flex;
    align-items: center;

    h1 {

        margin-left: 10%;

        a {

            text-decoration: none;
            color: white;

        }
    }
}

.bg-blue {

    background-color: rgb(2 130 249);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 5%;

    .merch {

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 4rem;
        }

        .carta {
            height: 3rem;
        }

        span {
            margin-left: 10px;
        }
    }
}

#riassunto {

    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;

    #last {

        display: flex;
        justify-content: space-around;

        #liste {

            display: flex;

            ul {

                padding-inline: 50px;
                padding-top: 2rem;

                .titolo-lista {

                    font-size: 1.2rem;

                }

                li {

                    list-style-type: none;
                    padding-top: 5px;
                    font-size: 0.8rem;

                    a {

                        text-decoration: none;
                        color: grey;

                    }

                }
            }
        }

        #logo {

            img {

                z-index: 2;
                background-repeat: no-repeat;
                min-height: 400px;
                width: 400px;
            }
        }
    }
}